<!DOCTYPE html>
<html>
<head>
    <title>All Articles</title>
</head>
<body>
    <h1>All Articles</h1>
    <a href="{{ url_for('create_article') }}">
        <button>Create Article</button>
    </a>
    <a href="{{ url_for('index') }}">
        <button>Back</button>
    </a>
    <ul>
        {% for article in articles %}
            {% if article.access_id == 1 %}
            <h2>{{ article.title }}</h2>
            <p>{{ article.description }}</p>
                <img src="data:{{ article.picture.mimetype }};base64,{{ article.picture.img_base64 }}" alt="{{ article.picture.name }}">
                <a href="{{ url_for('article_paragraphs', article_id=article.id) }}">
                    <button>View Article</button>
                </a>        
            {% elif current_user.role >= 2 %}
                <h2>{{ article.title }}</h2>
                <p>{{ article.description }}</p>
                    <img src="data:{{ article.picture.mimetype }};base64,{{ article.picture.img_base64 }}" alt="{{ article.picture.name }}">
                    <br><a href="{{ url_for('article_paragraphs', article_id=article.id) }}">
                        <button>View Article</button>
                    </a>           
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>
