<!DOCTYPE html>
<html>
<head>
    <title>{{ article.title }}</title>
</head>
<body>
    <h2>{{ article.title }}</h2>
    <p>{{ article.description }}</p>
    
    {% if article.picture %}
        <img src="data:{{ article.picture.mimetype }};base64,{{ article.picture.img_base64 }}" alt="{{ article.picture.name }}">
    {% else %}
        <p>No image available</p>
    {% endif %}
    <br>
    {% if current_user.role == 3 %}
        <a href="{{ url_for('edit_article', article_id=article.id) }}">
            <button>Edit Article</button>
        </a>
        <form action="{{ url_for('delete_article', article_id=article.id) }}" method="post" style="display: inline;">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" onclick="return confirm('Are you sure you want to delete this article?')">Delete Article</button>
        </form>                
    {% endif %}
    
        {% block content %}{% endblock %}
</body>
</html>
