<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>You are logged in</h1>
        <div>
            <h2>Welcome, {% if user.nickname %}{{ user.nickname }}{% else %}{{ user.username }}{% endif %}</h2>
            <p>Role: {{ current_user.role.name }}</p>
            {% if user.profile_img %}
                <img src="data:{{ user.profile_img.mimetype }};base64,{{ user.profile_img.img_base64 }}" alt="{{ user.profile_img.name }}">
            {% endif %}
        </div>
    {% endif %}
    <h1>Articles</h1>
    <div>
        {% for article in articles %}
            <h2>{{ article.title }}</h2>
            <p>{{ article.description }}</p>
            {% if article.picture %}
                <img src="data:{{ article.picture.mimetype }};base64,{{ article.picture.img_base64 }}" alt="{{ article.picture.name }}">
            {% endif %}
            {% if article.access %}
                <p>Access: {{ article.access.name }}</p>
            {% endif %}
            {% for paragraph in article.paragraphs %}
                <h3>{{ paragraph.title }}</h3>
                <p>{{ paragraph.body }}</p>
            {% endfor %}
            <a href="{{ url_for('edit_article', article_id=article.id) }}">
                <button>Edit Article</button>
            </a>
        {% endfor %}
    </div>
</body>
</html>
