<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Articles</h1>
    {% if user.is_authenticated %}
        <div>
            <h2>Welcome, {% if user.nickname %}{{ user.nickname }}{% else %}{{ user.username }}{% endif %}</h2>
        </div>
        <div>
            <a href="{{ url_for('logout') }}">
                <button>Logout</button>
            </a>
            <a href="{{ url_for('create_article') }}">
                <button>Create Article</button>
            </a>
            <a href="{{ url_for('view_user_profile', user_id=current_user.id) }}">
                <button>Your Profile</button>
            </a>
            {% if current_user.superuser %}
                <a href="{{ url_for('admin.index') }}">
                    <button>Admin Panel</button>
                </a>
            {% endif %}
        </div>
    {% else %}
        <div>
            <a href="{{ url_for('register') }}">
                <button>Register</button>
            </a>
            <a href="{{ url_for('login') }}">
                <button>Login</button>
            </a>
        </div>
    {% endif %}
</body>
</html>
